<app-navbar></app-navbar>
<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="row mt-1">
  <div class="col-lg-4 offset-lg-4">
    <div class="card text-white bg-secondary mb-3" style="max-width: 25rem;">
      <div class="card-header text-center">{{operacion}} Cliente</div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="addCliente()">
          <input formControlName="nombre" type="text" class="form-control mt-2" placeholder="Ingrese nombre">
          <span *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
            El campo nombre es <strong>requerido</strong>
          </span>

          <input formControlName="apellido" type="text" class="form-control mt-2" placeholder="Ingrese apellido">
          <span *ngIf="form.get('apellido')?.hasError('required') && form.get('apellido')?.touched">
            El campo apellido es <strong>requerido</strong>
          </span>
          <input formControlName="telefono" type="text" class="form-control mt-2" placeholder="Ingrese telefono">
          <span *ngIf="form.get('telefono')?.hasError('required') && form.get('telefono')?.touched">
            El campo telefono es <strong>requerido</strong>
          </span>
          <input formControlName="email" type="text" class="form-control mt-2" placeholder="Ingrese email">
          <span *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">
            El campo email es <strong>requerido</strong>
          </span>
          <input formControlName="direccion" type="text" class="form-control mt-2" placeholder="Ingrese direccion">
          <span *ngIf="form.get('direccion')?.hasError('required') && form.get('direccion')?.touched">
            El campo direccion es <strong>requerido</strong>
          </span>

          <div class="row mt-2 text-center">
            <div class="col-lg-6">
              <button routerLink="/listclientes" type="button" class="btn btn-primary">VOLVER</button>
            </div>
            <div class="col-lg-6">
              <button [disabled]="form.invalid" type="submit" class="btn btn-info">ACEPTAR</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>