.container {
  width: 80%;
  margin: 0 auto; /* Esto centra el contenido */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para la tabla */
  border-radius: 30px; /* Bordes redondeados */
}

/* Estilo del título */
.title {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #080808; 
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #202b35; 
  color: white;
}

tr:nth-child(even) {
  background-color: #020202; /* Color alterno para filas */
}

tr:hover {
  background-color: #ffffff; /* Color de fondo al pasar el mouse */
}
td:last-child {
  text-align: right;
}

td button {
  margin-left: 10px;
}

/* Botones */
.btn-info {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-danger {
  background-color: #801916;
  border-color: #801612;
}

.btn:hover {
  opacity: 0.9;
}

