<app-navbar></app-navbar>
<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="row mt-1">
  <div class="col-lg-4 offset-lg-4">
    <div class="card text-white bg-secondary mb-3" style="max-width: 25rem;">
      <div class="card-header text-center">{{operacion}} Hamburguesa</div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="addHamburguesa()">
          <input formControlName="nombre" type="text" class="form-control mt-2" placeholder="Ingrese nombre">
          <span *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
            El campo nombre es <strong>requerido</strong>
          </span>

          <input formControlName="descripcion" type="text" class="form-control mt-2" placeholder="Ingrese descripción">
          <span *ngIf="form.get('descripcion')?.hasError('required') && form.get('descripcion')?.touched">
            El campo descripcion es <strong>requerido</strong>
          </span>

          <div class="row mt-2 text-center">
            <div class="col-lg-6">
              <button routerLink="/listhamburguesas" type="button" class="btn btn-primary">VOLVER</button>
            </div>
            <div class="col-lg-6">
              <button [disabled]="form.invalid" type="submit" class="btn btn-info">ACEPTAR</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>